---
import GitHub from "@icons/GitHub.astro"

const { project } = Astro.props
---
<article class="border border-neutral-700/20 shadow hover:bg-neutral-700/20 p-4 rounded">
	<h3 class="text-xl font-semibold text-gray-900 dark:text-gray-100">{project.title}</h3>
	<p class="text-base font-normal text-gray-500 dark:text-gray-300">{project.description}</p>
	<figure class="my-4">
		<img src={project.image} alt={project.title} class="w-full h-48 object-cover object-left-top rounded-lg" />
	</figure>
	<div class="flex items-center gap-x-4">
		{project.github && (
			<a href={project.github} target="_blank" rel="noopener noreferrer" class="flex flex-1 justify-center items-center gap-x-2 py-0.5 px-2 text-gray-300 hover:text-gray-50 border border-gray-500 rounded-full hover:border-gray-400">
				<GitHub class="size-4" />
				<span>Ver Código</span>
			</a>
		)}
		{project.url && (
			<a href={project.url} target="_blank" rel="noopener noreferrer" class="flex flex-1 justify-center items-center gap-x-2 py-0.5 px-2 text-gray-300 hover:text-gray-50 border border-gray-500 rounded-full hover:border-gray-400">
				<span>Ver Proyecto</span>
			</a>
		)}
	</div>
</article>